@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/helvetica-255/Helvetica.ttf"), format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Icons";
    src: url("../assets/fonts/type_icons/Type\ Icons.ttf"), format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../assets/fonts/helvetica-255/Helvetica-Bold.ttf"),
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf"), format("truetype");
    font-weight: normal;
    font-style: normal;
}
